In [1]:
import pandas as pd
import requests
import os

In [2]:
bearer_token = os.environ.get('BEARER_TOKEN')
headers = {"Authorization": "Bearer {}".format(bearer_token)}

In [3]:
url = "https://api.twitter.com/2/tweets/search/recent"
params = {"query":"from:TwitterDev", "tweet.fields":"public_metrics", "max_results":"15"}
response = requests.request("GET", url, headers=headers, params=params).json()

In [4]:
data = response['data']
normalized = pd.json_normalize(data, max_level=3)

In [5]:
normalized

,id,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count
0,1371853548762333187,Live now! https://t.co/sC2M3eRpPk,2,0,13,0
1,1371588329368657923,Hope to see you tomorrow at 12 pm EST! \nhttps...,0,2,16,0
2,1371363033352638467,üîé If you're using v2 full-archive search for A...,5,1,29,1
3,1370110639545417729,"On Tuesday at 12 pm EST, @jessicagarson will c...",11,1,38,2
4,1370028373792071687,"‚ÄúI have been a developer from a young age,‚Äù sa...",0,3,12,0
5,1370028372701585408,‚ÄúThe idea of Threader came from the desire to ...,0,2,10,1
6,1370028371585814532,"Twitter is where people come to share, learn, ...",13,4,75,5

In [6]:
normalized.to_csv('normalized.csv')